{% extends  'layout.html' %}
{% block title %}About{% endblock %}
{% block content %}

    <header id="site-header" class="site-header-ab valign-center"> 
        <div class="intro">

            
            
            <h1>About Us</h1>
            
        
        
        </div>
    </header>

    <section id="about" class="section about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <h3 class="section-title">About Us</h3>

                    <p>You've inspired new consumer, racked up click-thru's, blown-up brand enes. We can't give you back the weekends you worked, or erase the pain ebeing forced to make the logo bigger. But if you submit your best work we ajusts might be able to give the chance to show you best digital marketing.</p>

                    <figure>
                        <img alt="" class="img-responsive" src="assets/images/about-us.jpg">
                    </figure>

                </div><!-- /.col-sm-6 -->

                <div class="col-sm-6">

                    <h3 class="section-title multiple-title">What is Our Goal?</h3>

                    <p>You've inspired new consumer, racked up click-thru's, blown-up brand enes. We can't give you back the weekends you worked, or erase the pain ebeing forced to make the logo bigger. But if you submit your best work we ajusts might be able to give the chance to show you best digital marketing.</p>

                    <ul class="list-arrow-right">

                        <li>Learn from the best Asian Social Media Experts &amp; Case Studies</li>
                        <li>Have dedicated 2-to-1 meetings with the experts</li>
                        <li>Reach more consumers for less by learning new digital media skills</li>
                        <li>Save money when spending in online advertising</li>
                    
                    </ul>

                </div><!-- /.col-sm-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section id="facts" class="section bg-image-1 facts text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <img src="assets/images/icons/movie.png" class="img-fluid" alt="">
                    <h3>VIDEO PRODUCTION</h3>
                
                </div>
                <div class="col-sm-3">

                    <img src="assets/images/icons/pin (1).png" class="img-fluid" alt="">
                    <h3>VENUE MANAGEMENT
                    </h3>
                
                </div>
                <div class="col-sm-3">

                    <img src="assets/images/icons/marketing.png" class="img-fluid" alt="">
                    <h3>PARTY PLANNING BY DESIGN
                    </h3>
                
                </div>
                <div class="col-sm-3">
                
                    <img src="assets/images/icons/management (1).png" class="img-fluid" alt="">
                    <h3>EVENT ARTIST MANAGEMENT</h3>
                
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </section>
{% endblock %}