{% extends 'admin-layout.html' %}
{% block title %}Admin Dashboard | Messages{% endblock %}
{% block heading1 %} Messages {% endblock %}
{% block heading2 %} Messages {% endblock %}
{% block head %} 

  <!-- DataTables -->
  <link rel="stylesheet" href="/static/admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/static/admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/static/admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Theme style -->
 {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">List of all messages</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Sno</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>City</th>
              <th>Message</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tbody>
              {% for i in messages %}
            <tr>
              <td>{{loop.index}}</td>
              <td>{{i.fname}} {{i.lname}}
              </td>
              <td>{{i.email}}</td>
              <td>{{i.phone}}</td>
              <td>{{i.city}}</td>
              <td>{{i.message}}</td>
              <td><a href="/delete/message/{{i.id}}" target="blank"><button class="btn btn-sm btn-danger">Delete</button></a></td>
            </tr>
            {% endfor %}
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
        
        <div class="card-footer">
          <!-- <h3 class="card-title">List of all events</h3> -->
        </div>
      </div>
      <!-- /.card -->

    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
{% endblock %}
{% block scripts %}
<!-- DataTables  & Plugins -->
<script src="/static/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/static/admin/plugins/jszip/jszip.min.js"></script>
<script src="/static/admin/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/static/admin/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/static/admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}